.bard-fieldtype .ProseMirror > {

    bts-paragraph,
    bts-heading {
        display: block;
    }
    
    bts-span {
        display: inline;
    }

    bts-paragraph {
        color: #1c2e36;
        word-break: break-all;
        word-break: break-word;

        line-height: 1.7;
        text-size-adjust: 100%;
    }

    bts-paragraph {
        margin-top: 0;
        margin-bottom: .85em;
    }

    bts-heading[data-level="1"],
    bts-heading[data-level="2"],
    bts-heading[data-level="3"],
    bts-heading[data-level="4"],
    bts-heading[data-level="5"],
    bts-heading[data-level="6"] {
        margin-top: 1.275em;
        margin-bottom: .85em;
        font-weight: 700
    }

    bts-heading[data-level="1"] { font-size: 2em }

    bts-heading[data-level="2"] { font-size: 1.75em }

    bts-heading[data-level="3"] { font-size: 1.5em }

    bts-heading[data-level="4"] { font-size: 1.25em }

    bts-heading[data-level="5"] { font-size: 1em }

    bts-heading[data-level="6"] {
        font-size: 1em;
        color: #737f8c;
    }

    bts-heading[data-level="1"]:first-child,
    bts-heading[data-level="2"]:first-child,
    bts-heading[data-level="3"]:first-child,
    bts-heading[data-level="4"]:first-child,
    bts-heading[data-level="5"]:first-child,
    bts-heading[data-level="6"]:first-child {
        margin-top: 0;
    }

}