@import "@statamic/cms/tailwind.css";
@source "../js/components";

@layer components {

    .bard-content {

        div[data-bts-style] {
            @apply border-gray-200 border-y !rounded-none py-[0.85em] my-[1.7em];
            .dark & {
                @apply border-dark-600;
            }
            &::before {
                @apply !rounded-b-none;
            }
        }

        :is(h1, h2, h3, h4, h5, h6, p, ul, ol, div)[data-bts-style],
        &[data-bts-defaults] > :is(h1, h2, h3, h4, h5, h6, p, ul, ol, div):not([data-bts-style]):not(.is-editor-empty) {
            &::before {
                @apply bg-gray-200 text-gray-700 font-sans font-normal rounded text-2xs leading-none px-1.5 py-1 block max-w-max relative;
            }
            .dark &::before {
                @apply bg-dark-600 text-dark-100;
            }
        }
        
        :is(ul, ol)[data-bts-style],
        &[data-bts-defaults] > :is(ul, ol):not([data-bts-style]):not(.is-editor-empty) {
            &::before {
                @apply mb-[0.85em];
            }
        }

        :is(div)[data-bts-style],
        &[data-bts-defaults] > :is(div):not([data-bts-style]):not(.is-editor-empty) {
            @apply relative;
            &::before {
                @apply absolute bottom-full mb-px -ml-px left-0;
            }
        }

        div[data-bts-hidden] {
            > * {
                @apply opacity-25;
            }
        }

    }

    .bts-styles-button-text {
        @apply w-24 mr-1 -ml-1 text-ellipsis opacity-80;
    }

    .bts-styles {
        .bts-styles-items {
            @apply flex flex-col p-1 gap-1 overflow-y-auto;
        }
        .bts-styles-item {
            @apply whitespace-normal py-2 px-3 text-[1rem] leading-[1] rounded-lg text-left;
            &:hover {
                @apply bg-gray-50;
                .dark & {
                    @apply bg-dark-700;
                }
            }
            &.active {
                @apply bg-gray-100;
                .dark & {
                    @apply bg-dark-800;
                }
            }
        }
    }

    .bts-preview {
        &[data-bts-type="heading_1"] {
            @apply text-3xl font-bold;
        }
        &[data-bts-type="heading_2"] {
            @apply text-2xl font-bold;
        }
        &[data-bts-type="heading_3"] {
            @apply text-xl font-bold;
        }
        &[data-bts-type="heading_4"] {
            @apply text-base font-bold;
        }
        &[data-bts-type="heading_5"] {
            @apply text-sm font-bold;
        }
        &[data-bts-type="heading_6"] {
            @apply text-2xs uppercase text-gray-800 dark:text-gray-500 tracking-wider font-bold;
        }
        &[data-bts-type="span"],
        &[data-bts-type="link"] {
            @apply inline;
        }
        &[data-bts-type="unordered_list"] {
            @apply list-item list-disc ml-4;
        }
        &[data-bts-type="ordered_list"] {
            @apply list-item list-decimal ml-4;
        }
    }

    .bts-attributes {
        width: 250px;
        &-arrow {
            margin-left: -0.1rem;
            margin-right: 0.25rem;
        }
    }

    .bts-pins {
        .bts-pins-items {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 4px;
        }
    }

    .bts-pin {
        @apply font-sans;
        font-weight: 500;
        user-select: none;
        background-color: #dde3e9;
        border: 1px solid #c4ccd4;
        border-radius: 100vh;
        overflow: hidden;
        text-decoration: none;
        display: inline-flex;
        align-items: stretch;
        cursor: default;
        vertical-align: calc((1em - 16px) * 0.4);
        margin-inline: 1px;
        margin-block: -1px;
        .dark & {
            background-color: #212223;
            border-color: #131314;
        }
        .bts-pin-button {
            cursor: pointer;
            height: 24px;
            border-left: 1px solid #c4ccd4;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 0 7px 0 4px;
            font-size: 12px;
            font-weight: 400;
            .dark & {
                border-left-color: #131314;
            }
            > svg {
                width: 16px !important;
                height: 16px !important;
                display: block;
            }
            &:hover {
                background-color: #c4ccd4;
                .dark & {
                    background-color: #131314;
                }
            }
        }
        .bts-pin-preview {
            max-width: 12ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            img {
                height: 16px !important;
                border-radius: 4px;
            }
        }
        .bts-pin-handle {
            cursor: grab;
            padding: 0 2px 0 4px;
            display: flex;
            align-items: center;
            height: 24px;
            svg {
                transform: rotate(90deg);
                opacity: 0.4;
            }
            &:hover {
                background-color: #c4ccd4;
                .dark & {
                    background-color: #131314;
                }
                svg {
                    opacity: 1;
                }
            }
        }
        .bts-pin-invalid {
            cursor: grab;
            height: 24px;
            display: flex;
            align-items: center;
            padding: 0 4px;
            svg {
                width: 16px !important;
                height: 16px !important;
                display: block;
            }
        }
    }

    .bts-pin-fields {
        width: 350px;
        > * {
            gap: 0.75rem !important;
        }
    }

    .bts-empty {
        @apply p-8 w-40 flex justify-center text-gray-300;
    }

}