.bard-fieldtype-wrapper {

    .bard-content {
        div[data-bts-style] {
            border: #d1d5db solid;
            border-width: 1px 0;
            padding-top: 0.85em;
            padding-bottom: 0.85em;
            margin-top: 1.7em;
            margin-bottom: 1.7em;
        }

        [data-bts-style],
        [data-bts-default] {
            &::before {
                display: none;
            }
        }
        h1, h2, h3, h4, h5, h6, p, ul, ol, div {
            &[data-bts-style],
            &[data-bts-default] {
                &::before {
                    background-color: #e4ebf1;
                    border-radius: 2px;
                    color: #1c2e36;
                    font-size: 10px;
                    font-weight: normal;
                    font-family: Inter UI,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
                    line-height: 1;
                    padding: 4px 6px;
                    display: block;
                    max-width: max-content;
                    position: relative;
                }
            }
        }
        ul, ol {
            &[data-bts-style],
            &[data-bts-default] {
                &::before {
                    margin-bottom: 0.85em;
                }
            }
        }
        div {
            &[data-bts-style],
            &[data-bts-default] {
                position: relative;
                &::before {
                    position: absolute;
                    bottom: calc(100% + 1px);
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

    }

    .bts-styles-button {
        &-text {
            border: 1px solid #d1d5db;
            padding-inline: 6px;
            width: 6rem;
            font-size: 0.8125rem;
            margin-right: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            display: block;
        }
    }
    
}

.bts-styles {
    line-height: 1;
    max-height: 400px;
    overflow-y: auto;
    &-items {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 4px;
        max-height: 500px;
        overflow-y: auto;
    }
    &-item {
        white-space: nowrap;
        padding: 8px 12px;
        font-size: 1rem;
        border-radius: 3px;
        text-align: left;
        &:hover {
            background-color: #f5f8fc;
        }
        &.active {
            background-color: #eef2f6;
        }
    }
}

.bts-preview {
    margin: 0 !important;
    &[data-bts-preview="h1"] {
        font-size: 2em;
        font-weight: 700;
    }
    &[data-bts-preview="h2"] {
        font-size: 1.75em;
        font-weight: 700;
    }
    &[data-bts-preview="h3"] {
        font-size: 1.5em;
        font-weight: 700;
    }
    &[data-bts-preview="h4"] {
        font-size: 1.25em;
        font-weight: 700;
    }
    &[data-bts-preview="h5"] {
        font-size: 1em;
        font-weight: 700;
    }
    &[data-bts-preview="h6"] {
        font-size: 1em;
        font-weight: 700;
    }
    &[data-bts-preview="span"],
    &[data-bts-preview="link"] {
        display: inline;
    }
    &[data-bts-preview="ul"] {
        display: list-item;
        list-style-type: disc;
        margin-left: 17px !important;
    }
    &[data-bts-preview="ol"] {
        display: list-item;
        list-style-type: decimal;
        margin-left: 17px !important;
    }
}

.bts-attributes {
    width: 250px;
    max-height: 400px;
    overflow-y: auto;
    &-arrow {
        margin-left: -0.1rem;
        margin-right: 0.25rem;
    }
}

.bts-border-gray-450 {
    border-color: #d1d5db;
}