@import "@statamic/cms/tailwind.css";
@source "../js/components";

@layer components {

    .bard-content {

        div[data-bts-style] {
            @apply border-gray-200 border-y !rounded-none py-[0.85em] my-[1.7em];
            .dark & {
                @apply border-dark-600;
            }
            &::before {
                @apply !rounded-b-none;
            }
        }

        :is(h1, h2, h3, h4, h5, h6, p, ul, ol, div)[data-bts-style],
        &[data-bts-defaults] > :is(h1, h2, h3, h4, h5, h6, p, ul, ol, div):not([data-bts-style]):not(.is-editor-empty) {
            &::before {
                @apply bg-gray-200 text-gray-700 font-sans font-normal rounded text-2xs leading-none px-1.5 py-1 block max-w-max relative;
            }
            .dark &::before {
                @apply bg-dark-600 text-dark-100;
            }
        }
        
        :is(ul, ol)[data-bts-style],
        &[data-bts-defaults] > :is(ul, ol):not([data-bts-style]):not(.is-editor-empty) {
            &::before {
                @apply mb-[0.85em];
            }
        }

        :is(div)[data-bts-style],
        &[data-bts-defaults] > :is(div):not([data-bts-style]):not(.is-editor-empty) {
            @apply relative;
            &::before {
                @apply absolute bottom-full mb-px -ml-px left-0;
            }
        }

        div[data-bts-hidden] {
            > * {
                @apply opacity-25;
            }
        }

    }

    .bts-styles-button-text {
        @apply w-24 mr-1 -ml-1 text-ellipsis opacity-80;
    }

    .bts-styles {
        .bts-styles-items {
            @apply flex flex-col p-1.5 overflow-y-auto;
        }
        .bts-styles-item {
            @apply whitespace-normal py-2 px-3 text-[1rem] leading-[1] rounded-lg text-left;
            &:hover {
                @apply bg-gray-100;
                .dark & {
                    @apply bg-dark-700;
                }
            }
            &.active {
                @apply bg-gray-100/75;
                .dark & {
                    @apply bg-dark-800;
                }
            }
        }
    }

    .bts-preview {
        &[data-bts-type="heading_1"] {
            @apply text-3xl font-bold;
        }
        &[data-bts-type="heading_2"] {
            @apply text-2xl font-bold;
        }
        &[data-bts-type="heading_3"] {
            @apply text-xl font-bold;
        }
        &[data-bts-type="heading_4"] {
            @apply text-base font-bold;
        }
        &[data-bts-type="heading_5"] {
            @apply text-sm font-bold;
        }
        &[data-bts-type="heading_6"] {
            @apply text-2xs uppercase text-gray-800 dark:text-gray-500 tracking-wider font-bold;
        }
        &[data-bts-type="span"],
        &[data-bts-type="link"] {
            @apply inline;
        }
        &[data-bts-type="unordered_list"] {
            @apply list-item list-disc ml-4;
        }
        &[data-bts-type="ordered_list"] {
            @apply list-item list-decimal ml-4;
        }
    }

    .bts-attributes {
        width: 250px;
        &-arrow {
            margin-left: -0.1rem;
            margin-right: 0.25rem;
        }
    }

    .bts-pins {
        .bts-pins-items {
            @apply flex flex-col p-1.5;
        }
    }

    .bts-pin {
        @apply font-sans font-medium select-none bg-gray-200 shadow border border-gray-300 rounded-lg overflow-hidden no-underline inline-flex items-stretch cursor-default mx-px -my-px;
        vertical-align: calc((1em - 16px) * 0.4);
        .dark & {
            @apply bg-dark-900 border-dark-950;
        }

        .bts-pin-button {
            @apply cursor-pointer h-6 border-l border-gray-300 flex items-center gap-1 pl-1 pr-[7px] text-xs font-normal;
            .dark & {
                @apply border-dark-950;
            }
            > svg {
                @apply size-4 block;
            }
        }

        .bts-pin-preview {
            @apply max-w-[12ch] text-ellipsis overflow-hidden whitespace-nowrap;
            img {
                @apply !h-4 rounded;
            }
        }

        .bts-pin-handle {
            @apply cursor-grab pl-0.5 pr-0.5 flex items-center h-6;
            svg {
                @apply size-4 block text-gray-400;
            }
        }

        .bts-pin-invalid {
            @apply cursor-grab h-6 flex items-center px-1;
            svg {
                @apply !size-4 block;
            }
        }

        &.bts-pin-selected {
            @apply border-blue-400 outline outline-blue-400;
        }
    }

    .bts-pin-fields {
        @apply w-[350px];
        > * {
            @apply !gap-3;
        }
    }

    .bts-empty {
        @apply p-8 w-40 flex justify-center text-gray-300;
    }

}