/* @deprecated: Alias the Statamic v4 scales so the same classes can work in v3 as well, drop when v3 is dropped */

.jsst4-p-0 { padding: 0px; }
.jsst4-p-0\.5 { padding: 0.125rem; }
.jsst4-p-1 { padding: 0.25rem; }
.jsst4-p-1\.5 { padding: 0.375rem; }
.jsst4-p-2 { padding: 0.5rem; }
.jsst4-p-2\.5 { padding: 0.625rem; }
.jsst4-p-3 { padding: 0.75rem; }
.jsst4-p-3\.5 { padding: 0.875rem; }
.jsst4-p-4 { padding: 1rem; }
.jsst4-p-5 { padding: 1.25rem; }
.jsst4-p-6 { padding: 1.5rem; }
.jsst4-p-7 { padding: 1.75rem; }
.jsst4-p-8 { padding: 2rem; }
.jsst4-px-0 { padding-inline: 0px; }
.jsst4-px-0\.5 { padding-inline: 0.125rem; }
.jsst4-px-1 { padding-inline: 0.25rem; }
.jsst4-px-1\.5 { padding-inline: 0.375rem; }
.jsst4-px-2 { padding-inline: 0.5rem; }
.jsst4-px-2\.5 { padding-inline: 0.625rem; }
.jsst4-px-3 { padding-inline: 0.75rem; }
.jsst4-px-3\.5 { padding-inline: 0.875rem; }
.jsst4-px-4 { padding-inline: 1rem; }
.jsst4-px-5 { padding-inline: 1.25rem; }
.jsst4-px-6 { padding-inline: 1.5rem; }
.jsst4-px-7 { padding-inline: 1.75rem; }
.jsst4-px-8 { padding-inline: 2rem; }
.jsst4-py-0 { padding-block: 0px; }
.jsst4-py-0\.5 { padding-block: 0.125rem; }
.jsst4-py-1 { padding-block: 0.25rem; }
.jsst4-py-1\.5 { padding-block: 0.375rem; }
.jsst4-py-2 { padding-block: 0.5rem; }
.jsst4-py-2\.5 { padding-block: 0.625rem; }
.jsst4-py-3 { padding-block: 0.75rem; }
.jsst4-py-3\.5 { padding-block: 0.875rem; }
.jsst4-py-4 { padding-block: 1rem; }
.jsst4-py-5 { padding-block: 1.25rem; }
.jsst4-py-6 { padding-block: 1.5rem; }
.jsst4-py-7 { padding-block: 1.75rem; }
.jsst4-py-8 { padding-block: 2rem; }
.jsst4-pt-0 { padding-top: 0px; }
.jsst4-pt-0\.5 { padding-top: 0.125rem; }
.jsst4-pt-1 { padding-top: 0.25rem; }
.jsst4-pt-1\.5 { padding-top: 0.375rem; }
.jsst4-pt-2 { padding-top: 0.5rem; }
.jsst4-pt-2\.5 { padding-top: 0.625rem; }
.jsst4-pt-3 { padding-top: 0.75rem; }
.jsst4-pt-3\.5 { padding-top: 0.875rem; }
.jsst4-pt-4 { padding-top: 1rem; }
.jsst4-pt-5 { padding-top: 1.25rem; }
.jsst4-pt-6 { padding-top: 1.5rem; }
.jsst4-pt-7 { padding-top: 1.75rem; }
.jsst4-pt-8 { padding-top: 2rem; }
.jsst4-pr-0 { padding-right: 0px; }
.jsst4-pr-0\.5 { padding-right: 0.125rem; }
.jsst4-pr-1 { padding-right: 0.25rem; }
.jsst4-pr-1\.5 { padding-right: 0.375rem; }
.jsst4-pr-2 { padding-right: 0.5rem; }
.jsst4-pr-2\.5 { padding-right: 0.625rem; }
.jsst4-pr-3 { padding-right: 0.75rem; }
.jsst4-pr-3\.5 { padding-right: 0.875rem; }
.jsst4-pr-4 { padding-right: 1rem; }
.jsst4-pr-5 { padding-right: 1.25rem; }
.jsst4-pr-6 { padding-right: 1.5rem; }
.jsst4-pr-7 { padding-right: 1.75rem; }
.jsst4-pr-8 { padding-right: 2rem; }
.jsst4-pb-0 { padding-bottom: 0px; }
.jsst4-pb-0\.5 { padding-bottom: 0.125rem; }
.jsst4-pb-1 { padding-bottom: 0.25rem; }
.jsst4-pb-1\.5 { padding-bottom: 0.375rem; }
.jsst4-pb-2 { padding-bottom: 0.5rem; }
.jsst4-pb-2\.5 { padding-bottom: 0.625rem; }
.jsst4-pb-3 { padding-bottom: 0.75rem; }
.jsst4-pb-3\.5 { padding-bottom: 0.875rem; }
.jsst4-pb-4 { padding-bottom: 1rem; }
.jsst4-pb-5 { padding-bottom: 1.25rem; }
.jsst4-pb-6 { padding-bottom: 1.5rem; }
.jsst4-pb-7 { padding-bottom: 1.75rem; }
.jsst4-pb-8 { padding-bottom: 2rem; }
.jsst4-pl-0 { padding-left: 0px; }
.jsst4-pl-0\.5 { padding-left: 0.125rem; }
.jsst4-pl-1 { padding-left: 0.25rem; }
.jsst4-pl-1\.5 { padding-left: 0.375rem; }
.jsst4-pl-2 { padding-left: 0.5rem; }
.jsst4-pl-2\.5 { padding-left: 0.625rem; }
.jsst4-pl-3 { padding-left: 0.75rem; }
.jsst4-pl-3\.5 { padding-left: 0.875rem; }
.jsst4-pl-4 { padding-left: 1rem; }
.jsst4-pl-5 { padding-left: 1.25rem; }
.jsst4-pl-6 { padding-left: 1.5rem; }
.jsst4-pl-7 { padding-left: 1.75rem; }
.jsst4-pl-8 { padding-left: 2rem; }
.jsst4-m-0 { margin: 0px; }
.jsst4-m-0\.5 { margin: 0.125rem; }
.jsst4-m-1 { margin: 0.25rem; }
.jsst4-m-1\.5 { margin: 0.375rem; }
.jsst4-m-2 { margin: 0.5rem; }
.jsst4-m-2\.5 { margin: 0.625rem; }
.jsst4-m-3 { margin: 0.75rem; }
.jsst4-m-3\.5 { margin: 0.875rem; }
.jsst4-m-4 { margin: 1rem; }
.jsst4-m-5 { margin: 1.25rem; }
.jsst4-m-6 { margin: 1.5rem; }
.jsst4-m-7 { margin: 1.75rem; }
.jsst4-m-8 { margin: 2rem; }
.jsst4-mx-0 { margin-inline: 0px; }
.jsst4-mx-0\.5 { margin-inline: 0.125rem; }
.jsst4-mx-1 { margin-inline: 0.25rem; }
.jsst4-mx-1\.5 { margin-inline: 0.375rem; }
.jsst4-mx-2 { margin-inline: 0.5rem; }
.jsst4-mx-2\.5 { margin-inline: 0.625rem; }
.jsst4-mx-3 { margin-inline: 0.75rem; }
.jsst4-mx-3\.5 { margin-inline: 0.875rem; }
.jsst4-mx-4 { margin-inline: 1rem; }
.jsst4-mx-5 { margin-inline: 1.25rem; }
.jsst4-mx-6 { margin-inline: 1.5rem; }
.jsst4-mx-7 { margin-inline: 1.75rem; }
.jsst4-mx-8 { margin-inline: 2rem; }
.jsst4-my-0 { margin-block: 0px; }
.jsst4-my-0\.5 { margin-block: 0.125rem; }
.jsst4-my-1 { margin-block: 0.25rem; }
.jsst4-my-1\.5 { margin-block: 0.375rem; }
.jsst4-my-2 { margin-block: 0.5rem; }
.jsst4-my-2\.5 { margin-block: 0.625rem; }
.jsst4-my-3 { margin-block: 0.75rem; }
.jsst4-my-3\.5 { margin-block: 0.875rem; }
.jsst4-my-4 { margin-block: 1rem; }
.jsst4-my-5 { margin-block: 1.25rem; }
.jsst4-my-6 { margin-block: 1.5rem; }
.jsst4-my-7 { margin-block: 1.75rem; }
.jsst4-my-8 { margin-block: 2rem; }
.jsst4-mt-0 { margin-top: 0px; }
.jsst4-mt-0\.5 { margin-top: 0.125rem; }
.jsst4-mt-1 { margin-top: 0.25rem; }
.jsst4-mt-1\.5 { margin-top: 0.375rem; }
.jsst4-mt-2 { margin-top: 0.5rem; }
.jsst4-mt-2\.5 { margin-top: 0.625rem; }
.jsst4-mt-3 { margin-top: 0.75rem; }
.jsst4-mt-3\.5 { margin-top: 0.875rem; }
.jsst4-mt-4 { margin-top: 1rem; }
.jsst4-mt-5 { margin-top: 1.25rem; }
.jsst4-mt-6 { margin-top: 1.5rem; }
.jsst4-mt-7 { margin-top: 1.75rem; }
.jsst4-mt-8 { margin-top: 2rem; }
.jsst4-mr-0 { margin-right: 0px; }
.jsst4-mr-0\.5 { margin-right: 0.125rem; }
.jsst4-mr-1 { margin-right: 0.25rem; }
.jsst4-mr-1\.5 { margin-right: 0.375rem; }
.jsst4-mr-2 { margin-right: 0.5rem; }
.jsst4-mr-2\.5 { margin-right: 0.625rem; }
.jsst4-mr-3 { margin-right: 0.75rem; }
.jsst4-mr-3\.5 { margin-right: 0.875rem; }
.jsst4-mr-4 { margin-right: 1rem; }
.jsst4-mr-5 { margin-right: 1.25rem; }
.jsst4-mr-6 { margin-right: 1.5rem; }
.jsst4-mr-7 { margin-right: 1.75rem; }
.jsst4-mr-8 { margin-right: 2rem; }
.jsst4-mb-0 { margin-bottom: 0px; }
.jsst4-mb-0\.5 { margin-bottom: 0.125rem; }
.jsst4-mb-1 { margin-bottom: 0.25rem; }
.jsst4-mb-1\.5 { margin-bottom: 0.375rem; }
.jsst4-mb-2 { margin-bottom: 0.5rem; }
.jsst4-mb-2\.5 { margin-bottom: 0.625rem; }
.jsst4-mb-3 { margin-bottom: 0.75rem; }
.jsst4-mb-3\.5 { margin-bottom: 0.875rem; }
.jsst4-mb-4 { margin-bottom: 1rem; }
.jsst4-mb-5 { margin-bottom: 1.25rem; }
.jsst4-mb-6 { margin-bottom: 1.5rem; }
.jsst4-mb-7 { margin-bottom: 1.75rem; }
.jsst4-mb-8 { margin-bottom: 2rem; }
.jsst4-ml-0 { margin-left: 0px; }
.jsst4-ml-0\.5 { margin-left: 0.125rem; }
.jsst4-ml-1 { margin-left: 0.25rem; }
.jsst4-ml-1\.5 { margin-left: 0.375rem; }
.jsst4-ml-2 { margin-left: 0.5rem; }
.jsst4-ml-2\.5 { margin-left: 0.625rem; }
.jsst4-ml-3 { margin-left: 0.75rem; }
.jsst4-ml-3\.5 { margin-left: 0.875rem; }
.jsst4-ml-4 { margin-left: 1rem; }
.jsst4-ml-5 { margin-left: 1.25rem; }
.jsst4-ml-6 { margin-left: 1.5rem; }
.jsst4-ml-7 { margin-left: 1.75rem; }
.jsst4-ml-8 { margin-left: 2rem; }
.jsst4-gap-0 { gap: 0px; }
.jsst4-gap-0\.5 { gap: 0.125rem; }
.jsst4-gap-1 { gap: 0.25rem; }
.jsst4-gap-1\.5 { gap: 0.375rem; }
.jsst4-gap-2 { gap: 0.5rem; }
.jsst4-gap-2\.5 { gap: 0.625rem; }
.jsst4-gap-3 { gap: 0.75rem; }
.jsst4-gap-3\.5 { gap: 0.875rem; }
.jsst4-gap-4 { gap: 1rem; }
.jsst4-gap-5 { gap: 1.25rem; }
.jsst4-gap-6 { gap: 1.5rem; }
.jsst4-gap-7 { gap: 1.75rem; }
.jsst4-gap-8 { gap: 2rem; }
.jsst4-gap-x-0 { gap-x: 0px; }
.jsst4-gap-x-0\.5 { gap-x: 0.125rem; }
.jsst4-gap-x-1 { gap-x: 0.25rem; }
.jsst4-gap-x-1\.5 { gap-x: 0.375rem; }
.jsst4-gap-x-2 { gap-x: 0.5rem; }
.jsst4-gap-x-2\.5 { gap-x: 0.625rem; }
.jsst4-gap-x-3 { gap-x: 0.75rem; }
.jsst4-gap-x-3\.5 { gap-x: 0.875rem; }
.jsst4-gap-x-4 { gap-x: 1rem; }
.jsst4-gap-x-5 { gap-x: 1.25rem; }
.jsst4-gap-x-6 { gap-x: 1.5rem; }
.jsst4-gap-x-7 { gap-x: 1.75rem; }
.jsst4-gap-x-8 { gap-x: 2rem; }
.jsst4-gap-y-0 { gap-y: 0px; }
.jsst4-gap-y-0\.5 { gap-y: 0.125rem; }
.jsst4-gap-y-1 { gap-y: 0.25rem; }
.jsst4-gap-y-1\.5 { gap-y: 0.375rem; }
.jsst4-gap-y-2 { gap-y: 0.5rem; }
.jsst4-gap-y-2\.5 { gap-y: 0.625rem; }
.jsst4-gap-y-3 { gap-y: 0.75rem; }
.jsst4-gap-y-3\.5 { gap-y: 0.875rem; }
.jsst4-gap-y-4 { gap-y: 1rem; }
.jsst4-gap-y-5 { gap-y: 1.25rem; }
.jsst4-gap-y-6 { gap-y: 1.5rem; }
.jsst4-gap-y-7 { gap-y: 1.75rem; }
.jsst4-gap-y-8 { gap-y: 2rem; }
.jsst4-text-gray-100 { color: #fafcff; }
.jsst4-text-gray-200 { color: #f5f8fc; }
.jsst4-text-gray-300 { color: #eef2f6; }
.jsst4-text-gray-400 { color: #dde3e9; }
.jsst4-text-gray-500 { color: #c4ccd4; }
.jsst4-text-gray-600 { color: #a7b3be; }
.jsst4-text-gray-700 { color: #73808c; }
.jsst4-text-gray-800 { color: #1c2e36; }
.jsst4-text-gray-900 { color: #19292f; }
.jsst4-text-gray-950 { color: #141a1f; }
.jsst4-bg-gray-100 { background-color: #fafcff; }
.jsst4-bg-gray-200 { background-color: #f5f8fc; }
.jsst4-bg-gray-300 { background-color: #eef2f6; }
.jsst4-bg-gray-400 { background-color: #dde3e9; }
.jsst4-bg-gray-500 { background-color: #c4ccd4; }
.jsst4-bg-gray-600 { background-color: #a7b3be; }
.jsst4-bg-gray-700 { background-color: #73808c; }
.jsst4-bg-gray-800 { background-color: #1c2e36; }
.jsst4-bg-gray-900 { background-color: #19292f; }
.jsst4-bg-gray-950 { background-color: #141a1f; }
.jsst4-border-gray-100 { border-color: #fafcff; }
.jsst4-border-gray-200 { border-color: #f5f8fc; }
.jsst4-border-gray-300 { border-color: #eef2f6; }
.jsst4-border-gray-400 { border-color: #dde3e9; }
.jsst4-border-gray-500 { border-color: #c4ccd4; }
.jsst4-border-gray-600 { border-color: #a7b3be; }
.jsst4-border-gray-700 { border-color: #73808c; }
.jsst4-border-gray-800 { border-color: #1c2e36; }
.jsst4-border-gray-900 { border-color: #19292f; }
.jsst4-border-gray-950 { border-color: #141a1f; }